name: Build
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: golang:1.13.8
    steps:
      - uses: actions/checkout@master
      - run: go get
      - run: go test ./... -coverprofile=coverage.txt
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
